
html {
    scroll-behavior: smooth;
}


.main-section {
    display: flex;
    height: 100vh; 
    margin-top: 50px; 
    text-align: center;
    justify-content: center;
    
}

.left-section {
    flex: 1;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    backdrop-filter: blur(10px);
    min-height: 100%;
}
.right-section {
    flex: 1;
    flex-direction: column;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 95, 139, 0.11);
    backdrop-filter: blur(10px);
    color: rgb(17, 16, 16);
    font-size: 2rem;
    font-weight: bold;
    padding: 40px;
    min-height: 100%;
    align-self: center;
}

#music-section, #about-section, #get-started-section {
    margin-top:0px;
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(to right, rgb(7, 83, 204), rgb(17, 194, 210), rgb(7, 83, 204));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    min-height: 150px;
}



#music-section:hover, #about-section:hover, #get-started-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}


/* Responsive - Stack vertically on smaller screens */
@media (max-width: 768px) {
    .main-section {
        flex-direction: column;
        height: auto;
    }
    .left-section, .right-section {
        width: 100%;
        height: auto;
    }

}
