.navbar
{
    padding: 10px 20px;
    margin-right: auto;
}
.navlist
{
    list-style: none;
    display: flex;
    margin:0;
    padding:10px;
    gap:20px;
}
.navlist a {
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.navlist a:hover {
    color: cyan;
}