
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  
  .social-icon {
    width: 100%;
    font-size: 40px;
    color: rgb(119, 153, 174);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
    color: rgb(25, 0, 139);
  }
  